* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-common: 107, 2, 2;
  --red-dark: 50, 0, 0;
  --red-light: 137, 23, 23;
  --red-ultra-light: 169, 57, 57;
  --grey-common: 114, 112, 112;
  --grey-dark: 100, 99, 99;
  --grey-light: 238, 238, 238;
  --grey-ultra-dark: 0, 0, 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--grey-common), 0.7);
  border-radius: 15px;
  border: 5px solid transparent;
  -webkit-background-clip: content-box;
  transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  transition: 0.4s;
  background-color: rgba(var(--grey-common), 1);
}

html {
  scroll-behavior: smooth;
}

body,
button {
  background-color: rgb(var(--grey-light));
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  overflow: overlay;
}

button:active,
button:focus,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.arrow-up {
  text-decoration: none;
  color: transparent;
  background-color: transparent;
  border: 4px solid transparent;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 50px;
  transition: 0.4s;
}

.arrow-up:hover {
  transition: 0.4s;
  border: 4px solid transparent;
}

.arrow-up i {
  font-size: 30px;
  transform: translate(20px, 15px);
}

.arrow-scrolling-active {
  color: rgb(var(--red-common));
  background-color: rgba(var(--grey-common), 0.8);
  transition: 0.4s;
}

.arrow-scrolling-active:hover {
  transition: 0.4s;
  color: rgb(var(--grey-light));
  border: 4px solid rgb(var(--grey-light));
}

.arrow-scrolling-active i {
  font-size: 30px;
  transform: translate(20px, 15px);
}

nav {
  background-color: transparent;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 150px 0px 150px;
  margin-bottom: 250px;
  overflow: hidden;
  z-index: 999;
  transition: 0.4s;
}

nav img {
  width: auto;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  filter: brightness(0) invert(1);
  transition: 0.4s;
}

nav .nav-toggle {
  background-color: transparent;
  color: rgb(var(--red-common));
  border: 0;
  position: fixed;
  right: 0;
  padding-top: 17px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

nav .nav-toggle i {
  font-size: 30px;
  line-height: 60px;
}

nav .nav-menu {
  display: flex;
  flex-direction: row;
}

nav .nav-menu a {
  text-decoration: none;
  color: white;
}

nav .nav-menu .nav-item {
  padding: 2rem 15px 2rem 15px;
  list-style: none;
  height: 100%;
  display: block;
  transition: 0.4s;
}

nav .nav-menu .nav-item:hover,
nav .nav-menu .nav-item-active {
  transition: 0.4s;
  background-color: transparent;
  color: rgb(var(--red-light));
}

.nav-scrolling-active {
  background-color: rgb(var(--grey-ultra-dark));
  border-bottom: 4px solid rgb(var(--red-common));
  transition: 0.4s;
}

.nav-scrolling-active img {
  filter: brightness(100%) invert(0);
}

.nav-scrolling-active .nav-menu a {
  color: rgb(var(--red-common));
}

.nav-scrolling-active a:hover {
  color: rgb(var(--red-common));
}

.nav-scrolling-active .nav-menu .nav-item {
  transition: 0.4s;
}

.nav-scrolling-active .nav-menu .nav-item:hover,
.nav.scrolling-active .nav-menu-active {
  transition: 0.4s;
  background-color: rgb(var(--red-common));
  color: rgb(var(--grey-ultra-dark));
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgb(var(--grey-ultra-dark));
  z-index: -1;
}

#about-me-nav {
  display: block;
  padding: 30px;
  background-color: rgba(var(--grey-ultra-dark), 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

#about-me-nav i {
  opacity: 0;
  font-size: 25px;
  padding: 0px 30px 0px 30px;
  animation-name: width-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#skills-nav {
  display: block;
  padding: 30px;
  background-color: rgba(var(--grey-ultra-dark), 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

#skills-nav i {
  font-size: 25px;
  padding: 0px 30px 0px 30px;
  animation-name: width-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#experience-nav {
  display: block;
  padding: 30px;
  background-color: rgba(var(--grey-ultra-dark), 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

#experience-nav i {
  font-size: 25px;
  padding: 0px 30px 0px 30px;
  animation-name: width-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#projects-nav {
  display: block;
  padding: 30px;
  background-color: rgba(var(--grey-ultra-dark), 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

#projects-nav i {
  font-size: 25px;
  padding: 0px 30px 0px 30px;
  animation-name: width-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#contact-nav {
  display: block;
  padding: 30px;
  background-color: rgba(var(--grey-ultra-dark), 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}

#contact-nav i {
  font-size: 25px;
  padding: 0px 30px 0px 30px;
  animation-name: width-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.object-circle-one {
  color: rgb(var(--red-common));
}

.object-circle-two {
  color: white;
}

.object-circle-three {
  color: rgb(var(--red-light));
}

@keyframes width-up {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 99;
}

.arrow-down {
  text-decoration: none;
  background-color: transparent;
  border: 4px solid white;
  width: 50px;
  height: 100px;
  border-radius: 25px;
  margin-top: 30px;
  transition: 0.4s;
}

.arrow-down:hover {
  transition: 0.4s;
  border: 4px solid rgb(var(--red-common));
}

.arrow-down i {
  font-size: 30px;
  font-weight: bold;
  transform: translateY(10px);
  color: rgb(var(--grey-light));
  transition: 0.4s;
}

.arrow-down:hover i {
  transition: 0.4s;
  color: rgb(var(--red-common));
  transform: translateY(50px);
}

#home #home-text {
  margin-top: 80px;
  height: auto;
}

#home #home-text h1 {
  font-size: 55px;
}

#home #home-text p {
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  color: rgb(var(--grey-common));
}

#home #translator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home #translator .translator-item {
  width: 60px;
  height: 45px;
  margin: 20px 10px 20px 10px;
  position: relative;
  box-shadow: 4px 4px 1px rgb(var(--red-common));
  transition: 0.4s;
}

#home #translator .translator-item:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  box-shadow: 8px 8px 1px rgb(var(--red-common));
}

#home #translator #translator-item-es,
#home #translator #translator-item-en {
  cursor: pointer;
}

#home #translator #translator-item-es .translator-item-overlay {
  visibility: hidden;
}

#home #translator .translator-item .translator-item-overlay {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(var(--grey-ultra-dark), 0.7);
  color: rgb(var(--grey-light));
}

#home #translator .translator-item .translator-item-overlay i {
  font-size: 25px;
  font-weight: bold;
}

#about-me {
  width: 100%;
  background-color: rgb(var(--red-common));
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: default;
}

#about-me h1 {
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#about-me .about-me-panel {
  position: relative;
  background-color: white;
  padding: 25px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 1px rgb(var(--grey-ultra-dark));
  margin-bottom: 20px;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#about-me .about-me-panel:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  box-shadow: 9px 9px 1px rgb(var(--grey-ultra-dark));
}

#about-me .about-me-panel .about-me-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  transition: 0.4s ease;
}

#about-me .about-me-panel .about-me-overlay button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: transparent;
  font-size: 18px;
  font-weight: bold;
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
}

#about-me .about-me-panel:hover .about-me-overlay {
  transition: 0.4s ease;
  visibility: visible;
  background-color: rgba(var(--grey-ultra-dark), 0.7);
}

#about-me .about-me-panel:hover .about-me-overlay button {
  transition: 0.4s ease;
  color: rgb(var(--grey-ultra-dark));
  background-color: rgb(var(--red-light));
  box-shadow: 3px 3px 1px rgb(var(--grey-ultra-dark));
  visibility: visible;
}

#about-me .about-me-panel:hover .about-me-overlay button:hover {
  transition: 0.4s ease;
  transform: translate(-5px, -0.5rem);
  background-color: rgb(var(--red-common));
  box-shadow: 7px 7px 1px rgb(var(--grey-ultra-dark));
}

#about-me .about-me-panel img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px auto 0px auto;
  object-fit: cover;
}

#about-me .about-me-panel .about-me-text {
  color: rgb(var(--grey-ultra-dark));
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

#about-me .about-me-panel .about-me-text p {
  font-size: 15px;
  font-weight: 800;
}

#about-me .about-me-panel .about-me-text p strong,
#about-me .about-me-panel .about-me-text p i {
  color: rgb(var(--red-common));
}

#about-me .about-me-panel .about-me-download-cv a {
  text-decoration: none;
}

#about-me .about-me-panel .about-me-download-cv button {
  display: none;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  margin-top: 27px;
  color: rgb(var(--grey-ultra-dark));
  background-color: rgb(var(--red-light));
  box-shadow: 3px 3px 1px rgb(var(--grey-ultra-dark));
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

#about-me .about-me-panel .about-me-download-cv button:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  background-color: rgb(var(--red-common));
  box-shadow: 7px 7px 1px rgb(var(--grey-ultra-dark));
}

#skills {
  background-color: rgb(var(--grey-ultra-dark));
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: default;
}

#skills h1 {
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  color: rgb(var(--red-common));
  opacity: 0;
  transform: scale(0.9);
  transform: 0.4s;
}

#skills .skills-grid {
  display: grid;
  padding: 25px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2rem;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#skills .skills-grid .skills-panel {
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 1px rgb(var(--red-common));
  transition: 0.4s;
}

#skills .skills-grid .skills-panel:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  box-shadow: 9px 9px 1px rgb(var(--red-common));
}

#skills .skills-grid .skills-panel .skills-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--grey-ultra-dark), 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  transition: 0.4s;
}

#skills .skills-grid .skills-panel .skills-overlay i {
  font-size: 30px;
  font-weight: bold;
  color: rgb(var(--red-common));
  background-color: rgb(var(--grey-ultra-dark));
  opacity: 0;
  padding: 18px;
  border-radius: 100%;
  visibility: hidden;
  transition: 0.4s;
}

#skills .skills-grid .skills-panel .skills-overlay i:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.3rem);
  box-shadow: 4px 4px 1px rgb(var(--red-light));
}

#skills .skills-grid .skills-panel:hover .skills-overlay {
  transition: 0.4s;
  background-color: rgba(var(--red-dark), 0.7);
  visibility: visible;
}

#skills .skills-grid .skills-panel:hover .skills-overlay i {
  transition: 0.4s;
  opacity: 1;
  visibility: visible;
}

#skills .skills-grid .skills-panel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#experience {
  width: 100%;
  background-color: rgb(var(--red-common));
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: default;
}

#experience h1 {
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#experience .experience-panel {
  position: relative;
  background-color: rgb(var(--grey-light));
  padding: 25px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 1px rgb(var(--grey-ultra-dark));
  margin-bottom: 30px;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#experience .experience-panel:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  box-shadow: 9px 9px 1px rgb(var(--grey-ultra-dark));
}

#experience .experience-panel .experience-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  transition: 0.4s ease;
}

#experience .experience-panel .experience-overlay button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: transparent;
  font-size: 18px;
  font-weight: bold;
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
}

#experience .experience-panel:hover .experience-overlay {
  transition: 0.4s ease;
  visibility: visible;
  background-color: rgba(var(--grey-ultra-dark), 0.7);
}

#experience .experience-panel:hover .experience-overlay button {
  transition: 0.4s ease;
  color: rgb(var(--grey-ultra-dark));
  background-color: rgb(var(--red-light));
  box-shadow: 3px 3px 1px rgb(var(--grey-ultra-dark));
  visibility: visible;
}

#experience .experience-panel:hover .experience-overlay button:hover {
  transition: 0.4s ease;
  transform: translate(-5px, -0.5rem);
  background-color: rgb(var(--red-common));
  box-shadow: 7px 7px 1px rgb(var(--grey-ultra-dark));
}

#experience .experience-panel img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  margin: 20px auto 0px auto;
  background-color: rgb(var(--grey-light));
  object-fit: cover;
}

#experience .experience-panel .experience-text {
  color: rgb(var(--grey-ultra-dark));
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

#experience .experience-panel .experience-text h2 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(var(--grey-dark));
}

#experience .experience-panel .experience-text h4 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: rgb(var(--red-common));
  margin-bottom: 15px;
}

#experience .experience-panel .experience-text p {
  font-size: 15px;
  font-weight: 800;
}

#experience #experience-pagination {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
}

#experience #experience-pagination li {
  font-size: 25px;
  color: rgb(var(--red-common));
}

#experience #experience-pagination li i {
  border: 4px solid rgb(var(--grey-ultra-dark));
  border-radius: 100%;
}

#experience .experience-panel .experience-links a {
  text-decoration: none;
}

#experience .experience-panel .experience-links button {
  display: none;
  margin-top: 27px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: rgb(var(--grey-ultra-dark));
  background-color: rgb(var(--red-light));
  box-shadow: 3px 3px 1px rgb(var(--grey-ultra-dark));
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

#experience .experience-panel .experience-links button:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  background-color: rgb(var(--red-common));
  box-shadow: 7px 7px 1px rgb(var(--grey-ultra-dark));
}

#projects {
  background-color: rgb(var(--grey-ultra-dark));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  cursor: default;
}

#projects h1 {
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  color: rgb(var(--red-common));
  opacity: 0;
  transform: scale(0.9);
  margin-bottom: 30px;
  transition: 0.4s;
}

#projects h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 30px auto 30px auto;
  opacity: 0;
  transform: scale(0.9);
  translate: 0.4s;
}

#projects hr {
  border: 6px solid rgb(var(--red-dark));
  width: 100px;
  height: auto;
  text-align: center;
  border-radius: 25px;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#projects .projects-grid {
  display: grid;
  padding: 25px;
  width: 60%;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: -20px auto 20px auto;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#projects .projects-grid .projects-panel {
  position: relative;
  display: block;
  background-color: rgb(var(--red-light));
  width: 100%;
  height: 500px;
  text-align: center;
  box-shadow: 5px 5px 1px rgb(var(--grey-dark));
  transition: 0.4s;
}

#projects .projects-grid .projects-panel:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  box-shadow: 9px 9px 1px rgb(var(--grey-dark));
}

#projects .projects-grid .projects-panel .projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--grey-ultra-dark), 0);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  text-align: center;
  transition: 0.4s;
}

#projects .projects-grid .projects-panel .projects-overlay h4 {
  color: rgb(var(--grey-light));
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  opacity: 0;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.4s;
}

#projects .projects-grid .projects-panel .projects-overlay p {
  font-weight: 400;
  font-size: 15px;
  color: rgb(var(--grey-light));
  margin: 10px 15px 25px 15px;
  font-style: italic;
  opacity: 0;
  transition: 0.4s;
}

#projects .projects-grid .projects-panel .projects-overlay div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

#projects .projects-grid .projects-panel .projects-overlay a {
  text-decoration: none;
  margin: auto 15px auto 15px;
}

#projects .projects-grid .projects-panel .projects-overlay a i {
  width: 58px;
  height: 58px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(var(--red-common));
  opacity: 0;
  background-color: rgb(var(--grey-ultra-dark));
  padding: 18px;
  border-radius: 50%;
  visibility: hidden;
  transition: 0.4s;
}

#projects .projects-grid .projects-panel .projects-overlay a i:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.3rem);
  box-shadow: 4px 4px 1px rgb(var(--red-light));
}

#projects .projects-grid .projects-panel:hover .projects-overlay {
  transition: 0.4s;
  visibility: visible;
  background-color: rgba(var(--red-dark), 0.9);
}

#projects .projects-grid .projects-panel:hover .projects-overlay h4,
#projects .projects-grid .projects-panel:hover .projects-overlay p,
#projects .projects-grid .projects-panel:hover .projects-overlay a i {
  transition: 0.4s;
  opacity: 1;
  visibility: visible;
}

#projects .projects-grid .projects-panel img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

#projects .projects-links {
  text-align: center;
  color: var(--grey-light);
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#projects .projects-links h2 {
  font-size: 30px;
  font-style: initial;
  margin-bottom: 20px;
}

#projects .projects-links .projects-links-icons a {
  text-decoration: none;
  color: rgb(var(--grey-light));
}

#projects .projects-links .projects-links-icons a i {
  font-size: 40px;
  padding: 10px;
  background-color: rgb(var(--red-common));
  border-radius: 100%;
  margin: 10px 20px 20px 20px;
  box-shadow: 4px 4px 1px rgb(var(--grey-light));
  transition: 0.4s;
}

#projects .projects-links .projects-links-icons a i:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.3rem);
  box-shadow: 7px 7px 1px rgb(var(--grey-light));
}

#contact {
  background-color: rgb(var(--red-common));
  display: flex;
  flex-direction: column;
  padding: 25px;
  cursor: default;
  width: 100%;
}

#contact h1 {
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  color: rgb(var(--grey-ultra-dark));
  opacity: 0;
  transform: scale(0.9);
  transition: 0.4s;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 500px;
  box-shadow: 5px 5px 1px #828282;
  height: auto;
  margin: 0 auto 25px auto;
  background-color: rgb(var(--grey-ultra-dark));
  color: rgb(var(--red-common));
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transform: scale(0.9);
  transform: 0.4s;
}

#contact form label {
  padding: 10px 0px 10px 20px;
}

#contact form input {
  height: 30px;
  border: 2px solid transparent;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  color: rgb(var(--grey-dark));
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: 0.4s;
}

#contact form input:focus {
  transition: 0.4s;
  box-shadow: 4px 4px 4px rgb(var(--red-common));
}

#contact form textarea {
  border: 2px solid transparent;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  color: var(--grey-dark);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition: 0.4s;
}

#contact form textarea:focus {
  transition: 0.4s;
  box-shadow: 4px 4px 4px rgb(var(--red-common));
}

#contact form /*input[type="submit"]*/button {
  margin: 40px auto 15px auto;
  width: 250px;
  padding: 10px 10px 10px 10px;
  height: auto;
  background-color: rgb(var(--red-light));
  color: rgb(var(--grey-light));
  border: 0;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 3px 3px 1px #dad5d5;
  cursor: pointer;
  transition: 0.4s;
}

#contact form /*input[type="submit"]*/button:hover {
  transition: 0.4s;
  transform: translate(-5px, -0.5rem);
  background-color: rgb(var(--red-common));
  box-shadow: 7px 7px 1px #dad5d5;
}

#mail-submit {
  opacity: 0;
}

footer {
  background-color: rgb(var(--grey-ultra-dark));
  padding: 20px 150px 20px 150px;
  color: white;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
}

footer .social-media a {
  text-decoration: none;
  color: rgb(var(--red-light));
}

footer .social-media a i {
  font-size: 25px;
  padding: 15px;
  border-radius: 50px;
  transition: 0.4s;
}

footer .social-media a i:hover {
  transition: 0.4s;
  background-color: rgb(var(--grey-dark));
}

footer .copyright {
  padding: 15px;
  font-size: 15px;
}

.frame-opacity {
  animation-name: frame-opacity;
  animation-duration: 2s;
}

@keyframes frame-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact .opacity-visible {
  transition: 0.4s;
  opacity: 1;
  transform: scale(1);
}

#projects .opacity-visible {
  transition: 0.4s;
  opacity: 1;
  transform: scale(1);
}

#experience .opacity-visible {
  transition: 0.4s;
  opacity: 1;
  transform: scale(1);
}

#skills .opacity-visible {
  transition: 0.4s;
  transform: scale(1);
  opacity: 1;
}

#about-me .opacity-visible {
  transition: 0.4s;
  transform: scale(1);
  opacity: 1;
}

@media screen and (max-width: 1035px) {
  .arrow-up {
    display: none;
  }

  nav {
    align-items: baseline;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(var(--grey-ultra-dark));
    border-bottom: 4px solid rgb(var(--red-common));
  }

  nav img {
    filter: brightness(1);
  }

  nav .nav-menu {
    flex-direction: column;
    background-color: rgba(var(--grey-ultra-dark), 0.7);
    position: fixed;
    width: 100%;
    left: 100%;
    text-align: center;
    margin-top: 94px;
    height: calc(100% - 94px);
    overflow-y: auto;
    transition: left 0.4s;
  }

  nav .nav-menu a {
    color: rgb(var(--red-common));
  }

  nav .nav-menu .nav-item {
    font-size: 18px;
  }

  nav .nav-menu .nav-item:hover {
    background-color: rgb(var(--red-common));
    color: rgb(var(--grey-ultra-dark));
  }

  nav .nav-toggle {
    display: initial;
    padding-right: 35px;
  }

  nav .nav-menu-visible {
    transition: left 0.4s;
    left: 0;
  }

  .arrow-down:hover {
    border: 4px solid rgb(var(--red-common));
  }

  .arrow-down i {
    transform: translateY(30px);
  }

  .arrow-down:hover i {
    transform: translateY(30px);
    color: rgb(var(--red-common));
  }

  #about-me h1 {
    opacity: 1;
    transform: scale(1);
  }

  #about-me .about-me-panel {
    opacity: 1;
    transform: scale(1);
  }

  #about-me .about-me-panel .about-me-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  #about-me .about-me-panel .about-me-text p {
    font-size: 12px;
  }

  #skills h1 {
    opacity: 1;
    transform: scale(1);
  }

  #skills .skills-grid {
    opacity: 1;
    transform: scale(1);
  }

  #experience h1 {
    opacity: 1;
    transform: scale(1);
  }

  #experience .experience-panel {
    opacity: 1;
    transform: scale(1);
  }

  #experience .experience-panel .experience-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  #experience .experience-panel .experience-text h2 {
    font-size: 22px;
  }

  #experience .experience-panel .experience-text p {
    font-size: 12px;
  }

  #projects h1 {
    opacity: 1;
    transform: scale(1);
  }

  #projects h2 {
    opacity: 1;
    transform: scale(1);
  }

  #projects hr {
    opacity: 1;
    transform: scale(1);
  }

  #projects .projects-grid {
    opacity: 1;
    transform: scale(1);
  }

  #projects .projects-links {
    opacity: 1;
    transform: scale(1);
  }

  #contact h1 {
    opacity: 1;
    transform: scale(1);
  }

  #contact form {
    opacity: 1;
    transform: scale(1);
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  #home #translator .translator-item:hover {
    transition: 0.4s;
    transform: translate(0, 0);
    box-shadow: 4px 4px 1px rgb(var(--red-common));
  }
}

@media screen and (max-width: 690px) {
  footer {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 590px) {
  #home #home-text h1 {
    font-size: 40px;
  }

  #home #home-text p {
    font-size: 15px;
  }

  #about-me .about-me-panel {
    width: 100%;
  }

  #about-me .about-me-panel:hover .about-me-overlay,
  #about-me .about-me-panel:hover .about-me-overlay button {
    display: none;
  }

  #about-me .about-me-panel .about-me-download-cv button {
    display: initial;
  }

  #skills .skills-grid {
    width: 100%;
  }

  #experience .experience-panel {
    width: 100%;
  }

  #experience .experience-panel:hover .experience-overlay,
  #experience .experience-panel:hover .experience-panel:hover {
    display: none;
  }

  #experience .experience-panel .experience-links button {
    display: initial;
  }

  #projects .projects-grid {
    width: 100%;
  }

  #contact form {
    width: 100%;
  }

  #contact form /*input[type="submit"]*/button {
    width: 150px;
  }

  footer .social-media a i {
    font-size: 20px;
  }

  footer .copyright {
    font-size: 13px;
  }

  #about-me .about-me-panel:hover {
    transition: 0.4s;
    transform: translate(0, 0);
    box-shadow: 5px 5px 1px rgb(var(--grey-ultra-dark));
  }

  #experience .experience-panel:hover {
    transition: 0.4s;
    transform: translate(0, 0);
    box-shadow: 5px 5px 1px rgb(var(--grey-ultra-dark));
  }
}
